@font-face {
  font-family: OpenDyslexic;
  src: url(fonts/OpenDyslexic-Regular.otf);
}

@font-face {
  font-family: OpenDyslexic;
  src: url(fonts/OpenDyslexic-Italic.otf);
  font-style: italic;
}

@font-face {
  font-family: OpenDyslexic;
  src: url(fonts/OpenDyslexic-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: OpenDyslexic;
  src: url(fonts/OpenDyslexic-Bold-Italic.otf);
  font-weight: bold;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --text-light: #f9f9f9;
  --text-dark: #999;
  --bg: #f6f6ef;
  --header-bg: #f88b42;
  --card-bg: #03a042;
  --butt-bg: #0499cf;
  --butt-bg-hover: #1da3d3;
  --search-bg: #676464;
  --search-bg-focus: #757575;
  --border: #222;
}

body {
  background: var(--bg);
  margin: 0 auto;
}

h1 {
  font: bold 2.6rem OpenDyslexic;
  color: var(--text-light);
  text-shadow: #222 0.15rem 0.15rem;
}

img {
  font-family: OpenDyslexic;
  width: 100%;
  border-bottom: 0.1rem solid var(--border);
}

header {
  background: var(--header-bg);
  border-bottom: 0.1rem solid var(--border);
  padding: 2.6rem 0rem;
}

.search {
  width: 100%;
  background: var(--search-bg);
  font: 1.6rem OpenDyslexic;
  padding: 0.68rem 0.68rem;
  border: 0.1rem solid var(--border);
  border-radius: 1.4rem;
  color: var(--text-light);
  outline: none;
  caret-color: #f9f9f9;
}

.search:focus {
  background: var(--search-bg-focus);
}

::placeholder {
  color: #d6d5d5;
  font-size: 1.6rem;
}

.card {
  background: var(--card-bg);
  margin: 3.4rem 0rem;
  border: 0.1rem solid var(--border);
}

.description {
  font: 1.8rem OpenDyslexic;
  color: var(--text-light);
  padding: 1rem 1rem;
}

.artist {
  font-weight: bold;
}

.culture::before {
  content: " (";
}

.culture::after {
  content: "), ";
}

.title {
  font-style: italic;
}

.date::before {
  content: ", ";
}

.date::after {
  content: ".";
}

.txt-header {
  font: 3.2rem OpenDyslexic;
  color: var(--text-dark);
  margin-top: 4rem;
}

.txt-paragraph {
  font: 1.8rem OpenDyslexic;
  color: var(--text-dark);
  margin-bottom: 4rem;
}

.quote {
  margin-top: 5rem;
}

footer {
  margin-bottom: 3rem;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

button {
  font: 1.2rem OpenDyslexic;
  background: var(--butt-bg);
  color: var(--text-light);
  border-radius: 1.4rem;
  border: 0.1rem solid var(--border);
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  width: 6rem;
}

button:hover {
  background: var(--butt-bg-hover);
}

.container {
  margin: 0 auto;
  width: 50rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  flex: 100%;
}

.column-half {
  flex: 50%;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 1000px) {
  h1 {
    text-align: center;
    margin-top: -1.4rem;
  }

  .search {
    margin-top: 0.75rem;
  }

  .container {
    width: 34rem;
  }

  .column-half {
    flex: 100%;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    text-align: center;
    margin-top: -1.4rem;
  }

  .search {
    margin-top: 0.75rem;
  }

  .container {
    width: 24rem;
  }

  .column-half {
    flex: 100%;
  }
}

@media only screen and (max-width: 380px) {
  h1 {
    text-align: center;
    margin-top: -1.4rem;
  }

  .search {
    margin-top: 0.75rem;
  }

  .container {
    width: 14rem;
  }

  .column-half {
    flex: 100%;
  }
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { -webkit-appearance:none; }