@font-face {
  font-family: OpenDyslexic;
  src: url(fonts/OpenDyslexic-Regular.otf);
}

@font-face {
  font-family: OpenDyslexic;
  src: url(fonts/OpenDyslexic-Italic.otf);
  font-style: italic;
}

@font-face {
  font-family: OpenDyslexic;
  src: url(fonts/OpenDyslexic-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: OpenDyslexic;
  src: url(fonts/OpenDyslexic-Bold-Italic.otf);
  font-weight: bold;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --text-light: #f6f6ef;
  --text-dark: #999;
  --bg: #f6f6ef;
  --header-bg: #f89654;
  --card-bg: #03a042;
  --top: #0499cf;
  --search-bg: #f9a267;
  --shadow: #222;
}

body {
  background: var(--bg);
  margin: 0 auto;
}

h1 {
  font: bold 2.6rem OpenDyslexic;
  text-transform: uppercase;
  color: var(--text-light);
}

h1:hover {
  text-transform: lowercase;
}

img {
  font-family: OpenDyslexic;
  width: 100%;
  box-shadow: 0 .05em .4em var(--shadow);
}

header {
  background: var(--header-bg);
  box-shadow: 0 .05em .4em var(--shadow);
  padding: 1.8rem 0rem;
}

.search {
  width: 100%;
  background: var(--search-bg);
  font: 1.6rem OpenDyslexic;
  padding: 0.68rem 0.68rem;
  border: none;
  border-radius: 0.9rem;
  color: var(--text-light);
  outline: none;
  caret-color: #f9f9f9;
}

::placeholder {
  color: var(--text-light);
}

.card {
  background: var(--card-bg);
  margin: 3.4rem 0rem;
  box-shadow: 0 .05em .4em var(--shadow);
}

.description {
  font: 1.8rem OpenDyslexic;
  color: var(--text-light);
  padding: 1rem 1rem;
}

.artist {
  font-weight: bold;
}

.culture::before {
  content: " (";
}

.culture::after {
  content: "), ";
}

.title {
  font-style: italic;
}

.date::before {
  content: ", ";
}

.date::after {
  content: ".";
}

.txt-paragraph {
  font: 1.8rem OpenDyslexic;
  color: var(--text-dark);
  margin: 6rem 0rem 4rem;
}

footer {
  margin-bottom: 3rem;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.top {
  font: 1.8rem OpenDyslexic;
  font-variant: small-caps;
  text-decoration: none;
  color: var(--top);
  cursor: pointer;
}

.top:hover {
  font-variant: normal;
}

.container {
  margin: 0 auto;
  width: 50rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  flex: 100%;
}

.column-half {
  flex: 50%;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 1000px) {
  h1 {
    text-align: center;
    margin-top: -0.8rem;
  }

  .search {
    margin-top: 0.75rem;
  }

  .container {
    width: 34rem;
  }

  .column-half {
    flex: 100%;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    text-align: center;
    margin-top: -0.8rem;
  }

  .search {
    margin-top: 0.75rem;
  }

  .container {
    width: 24rem;
  }

  .column-half {
    flex: 100%;
  }
}

@media only screen and (max-width: 380px) {
  h1 {
    text-align: center;
    margin-top: -0.8rem;
  }

  .search {
    margin-top: 0.75rem;
  }

  .container {
    width: 14rem;
  }

  .column-half {
    flex: 100%;
  }
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { -webkit-appearance:none; }