@font-face {
  font-family: OpenDyslexic;
  src: url(OpenDyslexic-Regular.otf);
}

@font-face {
  font-family: OpenDyslexic;
  src: url(OpenDyslexic-Italic.otf);
  font-style: italic;
}

@font-face {
  font-family: OpenDyslexic;
  src: url(OpenDyslexic-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: OpenDyslexic;
  src: url(OpenDyslexic-Bold-Italic.otf);
  font-weight: bold;
  font-style: italic;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #f6f6ef;
  scrollbar-color: #555 #222;
}

body {
  margin: 0;
}

a {
  color: #f9f9f9;
  text-decoration: none;
}

h1 {
  font: bold 2.4rem OpenDyslexic;
  text-shadow: #222 0.18rem 0.18rem;
  letter-spacing: 0.17rem;
  margin: 2rem 0rem;
}

h1:hover {
  text-transform: uppercase;
}

img {
  font-family: OpenDyslexic;
}

.nav {
  background-color: #f88b42;
  border-bottom: 0.15rem solid #222;
}

.search {
  width: 100%;
  background-color: #676464;
  font: 1.6rem OpenDyslexic;
  padding: 0.68rem 0.68rem;
  margin: 2rem 0rem;
  border: 0.15rem solid #222;
  border-radius: 1rem;
  color: #f9f9f9;
  outline: none;
  caret-color: #f9f9f9;
}

.search:focus {
  background-color: #757575;
}

::placeholder {
  color: #d6d5d5;
  font-size: 1.6rem;
}

.card {
  background-color: #03a042;
  border: 0.15rem solid #222;
  margin-top: 2.6rem;
  margin-bottom: 2.6rem;
}

.artwork {
  width: 100%;
  border-bottom: 0.15rem solid #222;
}

.description {
  font: 1.8rem OpenDyslexic;
  color: #f9f9f9;
  padding: 0rem 1rem;
}

.artist {
  font-weight: bold;
}

.culture::before {
  content: " (";
}

.culture::after {
  content: "), ";
}

.title {
  font-style: italic;
}

.date::before {
  content: ", ";
}

.date::after {
  content: ".";
}

.txt-header {
  font: 3.2rem OpenDyslexic;
  color: #999;
  margin-top: 6rem;
}

.txt-paragraph {
  font: 1.8rem OpenDyslexic;
  color: #999;
  margin-top: 0;
  margin-bottom: 4rem;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.scroll {
  font: 1.2rem OpenDyslexic;
  background-color: #0499cf;
  color: #f9f9f9;
  border-radius: 1rem;
  border: 0.15rem solid #222;
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  width: 16rem;
  margin-bottom: 2.6rem;
}

.scroll:hover {
  background-color: #1da3d3;
}

.container {
  margin: 0 auto;
  width: 50rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  flex: 100%;
}

.column-half {
  flex: 50%;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 1000px) {
  h1 {
    text-align: center;
    margin-bottom: 0;
  }

  .search {
    margin-top: 0.75rem;
  }

  .container {
    width: 34rem;
  }

  .column-half {
    flex: 100%;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    text-align: center;
    margin-bottom: 0;
  }

  .search {
    margin-top: 0.75rem;
  }

  .container {
    width: 24rem;
  }

  .column-half {
    flex: 100%;
  }
}

@media only screen and (max-width: 380px) {
  h1 {
    text-align: center;
    margin-bottom: 0;
  }

  .search {
    margin-top: 0.75rem;
  }

  .container {
    width: 14rem;
  }

  .column-half {
    flex: 100%;
  }
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { -webkit-appearance:none; }